/* *{
    box-sizing: border-box;
} */

.artist-container{

    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 100%; */
    
    
}

.art-container{

    /* background-color: aqua; */
    /* height: 100%; */
    /* border: 1px solid black; */
    width: 100%;
    padding: 3% 0 0 0 ;
    flex: 1;
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}


.art-container h2{

    Font-family: 'Dosis',sans-serif;
}

.art-container p{

    /* border: 1px solid red; */
    Font-family: 'Dosis',sans-serif;
    width: 50%;
    
    font-size: 1.3rem;

}
/* .art-container iframe{
    width: 25%;
} */

.art-container:hover{

    flex: 4;

}



.art-container:nth-child(2){
    background-color:black;
    color: white;
}

.art-container:nth-child(3){
    background-color: white;
}

.art-container:nth-child(4){
    background-color: black;
    color: white;
}

.art-container img{

    width: 25%;
    /* height: 50%; */
    border-radius: 50%;
}

.art-container details summary{
    border: 1x solid black;
}



/* /////////////////more artist/////////////// */

.more-container{
    display:flex;
    flex-direction: row;
    /* justify-content: center; */
    width: 100%;
    height: 25vh;
    background-color: black;
    /* padding-top: 5%; */
}

.more-container h2{
    color: white;
    Font-family: 'Dosis',sans-serif;
    /* border: 1px solid white; */
    letter-spacing: 1.5rem;

}

.page {
    
    animation: apparition 1s ease-out;
  }
  
  /* Apparition */
  @keyframes apparition {

    from {
      opacity: 0;
      transform: translateY(-25px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }